Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
stamp-h1
deps
*.beam
.*.swp
*.orig
*~
*.o
*.pyc
*.so
dev/*
apps/libdist_python/build/*
apps/libdist_python/ebin/*
apps/libdist_python/files.txt
examples/calc_python/build/*
examples/calc_python/dev/*
examples/calc/calc_client
*.log
.DS_Store
Makefile
autoscan.log
autom4te.cache
