{erl_opts, [{src_dirs, ["esrc"]}]}.

{post_hooks, [
	  {clean, "cat files.txt | xargs rm -rf"},
	  {clean, "rm -rf files.txt"},
	  {'delete-deps', "pip uninstall -y -r requirements.txt"},
	  {'update-deps', "pip install -U -r requirements.txt"},
	  {'list-deps', "pip freeze"},
      {compile, "python setup.py install --record files.txt"},
      {'get-deps', "pip install -r requirements.txt"}
   ]}.
