{sys, [
       {lib_dirs, ["../apps", "../deps"]},
       {erts, [{mod_cond, derived}]},
       {rel, "node", "1",
        [
         kernel,
         stdlib,
         sasl,
         repobj,
         libdist_c,
         libdist_python
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "node"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, repobj, [{incl_cond, include}]},
       {app, libdist_c, [{incl_cond, include}]},
       {app, libdist_python, [{incl_cond, include}]}
      ]}.

{target_dir, "node"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},

           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},

           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},

           {copy, "files/node", "bin/node"}
          ]}.
